<span [ngClass]="{ standOut: approved }">{{ getTitle() }} app is running!</span>
<app-first-child
  class="firstChild"
  [messageFromParent]="messageToChildren()"
  (eventEmitter) = "messageFromChildren($event)"
>
</app-first-child>
<app-second-child
  class="firstChild"
>
</app-second-child>
<br/>
<br/>
<div (click)="makeBlue()">{{ divColor }} is our color!</div>
<div class="form-check">
  <input
    class="checkbox-lg"
    type="checkbox"
    id="cb1"
    [checked]="approved"
  />
  <div>{{ approved }}!</div>
  <p></p>
  <label>Testing data binding</label>
  <br/>
  <input
    type="text"
    class="form-control"
    maxlength="8"
    [(ngModel)]="userInput"
  />
  <br/>
  <br/>
  <input
    type="text"
    class="form-control"
    maxlength="8"
    (input)="handleInput($event)"
  />
  <p *ngIf="approved">{{ userInput }}</p>
  <div [innerHTML]="userInput"></div>
  <br/>
  <div
    *ngFor="let message of messages"
    [ngStyle]="{ color: message.length > 4 ? 'brown' : 'green' }"
  >
    {{ message }}
  </div>
</div>

<router-outlet />
